/*----------------------------------------*/
/*  17. Cart
/*----------------------------------------*/
.c-process-status {
  text-align: center;
  >span{
    font-size: 16px;
    color: #767676;
    display: inline-block;
    &:before {
      content: '>';
      padding: 0 10px;
    }
    &.active {
      color: #222;
      font-weight: 700;
    }
    &:first-child:before {
      content: '';
      padding: 0;
    }
  }
}
///////////////////////////////////////////
